.game {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  /* width: 60%; */
}

.board {
  margin-left: 50px;
  border: 10px solid #3C3D37;
  display: grid;
  grid-template-columns: repeat(8, 96px);
  grid-template-rows: repeat(8, 96px);
}
