.game {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding-left: 50px;
}

.board {
  z-index: 1;
}

.piece {
  position: absolute;
  top: 20px;
  left: 50px;
  z-index: 2;
}

.piece img {
  width: 96px;
  height: 96px;
}
